body {
    background: blue;
    border: 250px;
    border-color: red;
}

h1 {
    text-decoration: underline;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    text-align: center;
}